/* ================================
-         MEDIA QUERIES
================================ */

/* LARGE DEVICES */
@media (min-width: 1200px) and (max-width: 1299.5px) {
    /* nav */
    .header__nav-wrap {
        padding: 0;
    }
}
/* ============================== */


/* MEDIUM DEVICES */
@media (min-width: 992px) and (max-width: 1199.5px){
    /* nav */
    .header__nav-wrap {
        padding: 0;
    }

    .sub-header h2 {
        font-size: 29px;
    }

    .services__slide .services__slide-text {
        padding: 16px 30px;
        min-height: 440.900px;
    }

    .services__slide-text p {
        line-height: 20px;
    }
}
/* ============================== */


/* SMALL DEVICES */
@media (min-width: 768px) and (max-width: 991.5px){

    /* general */
    .button-general {
        padding: 8px 35px;
        font-size: 10px;
    }

    .sub-header h2 {
        font-size: 29px;
    }

    /* nav */
    .header__nav-wrap {
        padding: 0;
    }

    /* home */
    #home__header {
        font-size: 41px;
    }

    #home__text p {
        font-size: 13px;
    }

    /* statment */
    #statement__text h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* services top */
    .services__item-icon {
        font-size: 35px;
    }

    /* services bottom */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a {
        font-family: var(--raleway);
        font-size: 23px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 200;
        padding: 0;
    }

    .r-tabs-accordion-title.r-tabs-state-active a {
        color: var(--primary-color);
        font-weight: 400;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 5px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }

    /* pricing tables */
    .pricing__table-price h2 {
        margin: 0 0 0 6px;
        font-size: 35px;
    }

    /* stats */
    .stats__item-content p {
        line-height: 18px;
    }

    /* blog */
    .blog__post h4 {
        font-size: 15px;
    }

    /* contact */
    ul.location__details li i {
       width: 30px;
    }

    ul.location__details li {
        margin-right: 35px;
    }
}
/* ============================== */


/* XSMALL DEVICES */
@media (max-width: 767.5px) {

    /* general */
    .button-general {
        padding: 8px 25px;
        font-size: 10px;
    }

    /* content wrap */
    .content-wrap-lg {
        padding: 90px 0;
    }

    .content-wrap-md {
        padding: 80px 0;
    }

    /* main header */
    .main-header {
        margin-bottom: 40px;
    }

    .main-header h2 {
        font-size: 30px;
    }

    /* sub-header */
    .sub-header {
        text-align: center;
    }

    .sub-header h5 {
        transform: none;
        display: block;
        position: static;
        margin-bottom: 15px;
    }

    .sub-header h2 {
        font-size: 29px;
        line-height: normal;
        margin: 0;
    }
   
    /* home */
    #home__header {
        font-size: 22px;
    }

    #home__text p {
        font-size: 13px;
        line-height: 18px;
        margin: 8px 2px 30px 2px;
    }

    /* about top */
    #about__top-left {
        margin-bottom: 50px;
    }

    #about__top-right {
        text-align: center;
    }

    /* about bottom */
    .about__box-item {
        padding: 55px 30px;
        margin-bottom: 35px;
    }

    .box-item-icon {
        font-size: 30px;
    }

    .about__box-item h3 {
        font-size: 18px;
    }

    /* team */
    #team__header .sub-header {
        min-height: 130px;
    }

    .rating h4 {
        font-size: 14px;
        line-height: 35px;
    }

    /* statment */
    #statement__text h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* services */
    .services__top-img {
        margin: 35px 0;
    }

    .services__item,
    .services__item-icon {
        text-align: center;
    }

    .services__item:hover .services__item-icon {
        transform: none;
    }

    .services__item h4 {
        font-size: 18px;
    }

    .services__slide {
        text-align: center;
        padding: 40px 30px;
    }

    .services__slide h2 {
        font-size: 40px;
    }

    .services__slide h3 {
        font-size: 28px;
    }

    /* services bottom */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title a {
        font-family: var(--raleway);
        font-size: 13px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        padding: 0;
    }

    .r-tabs-accordion-title.r-tabs-state-active a {
        color: var(--primary-color);
        font-weight: 400;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 5px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }

    /* portfolio */
    #portfolio {
        padding-bottom: 0;
    }

    #isotope__filter-nav button {
        padding-right: 15px;
    }

    /* testimonial */
    #testimonial {
        padding-top: 45px;
    }

    #testimonial .sub-header {
        padding: 0;
    }

    .testimonial h3 {
        font-size: 20px;
    }

    .testimonial .testimonial__stars {
        font-size: 16px;
    }

    #testimonial__slides {
        top: 0;
    }

    .testimonial__author img {
        width: 80px !important;
    }

    .testimonial .row {
        margin: 0;
    }


    /* pricing */
    .pricing__table {
        margin-bottom: 30px;
    }

    .pricing__table-price h2{
        font-size: 28px;
        margin: 0 0 0 16px;
    }


    /* stats */
    .stats__item-content {
        margin-bottom: 20px;
        padding: 25px 5px;
    }

    .stats__item-content i {
        font-size: 30px;
    }

    .stats__item-content h3 {
        font-size: 24px;
    }


    /* blog */
    #blog__left {
        text-align: center;
        margin-bottom: 30px;
    }

    .blog__post {
        margin-bottom: 25px;
    }


    /* contact */
    #contact__left {
        text-align: center;
    }

    .location {
        margin-bottom: 40px;
    }

    .location h4 {
        display: inline-block;
        border: 1px solid var(--primary-color);
        width: 200px;
        padding: 10px;
    }

    #contact__left ul.social-icon-list {
        margin-bottom: 40px;
    }

    ul.location__details li i {
        display: block;
        width: auto;
        margin-bottom: 3px;
    }

    ul.location__details li {
        display: block;
        margin-top: 25px;
    }

}
/* ============================== */


/* XXSMALL DEVICES */
@media (max-width: 480px) {

    /* home */
    #home__header {
        font-size: 18px;
    }

    #home__text p {
        font-size: 11px;
        line-height: 16px;
        margin: 8px 10px 25px 10px;
    }

    /* header */
    .sub-header h2,
    .main-header h2 {
        font-size: 22px;
    }
    
    /* portfolio */
    #isotope__filter-nav {
        text-align: center;
    }

    #isotope__filter-nav button {
        font-size: 10px;
        padding-right: 14px;
    }

    /* testimonial */
    .testimonial h3 {
        font-size: 14px;
        line-height: 18px;
    }

    .testimonial .testimonial__stars {
        font-size: 13px;
    }
}


@media (max-width: 320px) {

    /* testimonial */
    .testimonial .testimonial__stars {
        font-size: 10px;
    }

    .testimonial {
        padding-left: 20px;
        padding-right: 20px;
    }
}